body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.top
{
    padding: 5px;
    padding-right: 30px;
    background-color: yellow;
    color: darkgreen;
    text-align: right;
}

.header {
    padding: 60px;
    flex:50%;
    text-align: center;
    color: white;
}

.navbar {
    display: flex;
    background-color: rgb(16, 15, 15);
    padding-left: 40px;
    justify-content: center;

}
.navbar a {
    color:white;
    padding: 20px 100px;
    justify-content: center;
}
.navbar a:hover
{
    color: black;
    background-color: white;
}
.main {  
    display: flex;
  }

.left {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
  }

.right {
    flex:80%;
    background-color: white;
    padding: 20px;
    padding-right: 40px;
    
  }
  

.footer {
    background-color: rgb(245, 240, 232);
    text-align: center;
    padding: 25px;
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

.form {
    background-color: rgb(236, 214, 186);
    padding: 5px;
}

.title {
    font-size: 50px;
    text-decoration: underline;
    color:red
    
}

.art
{
    font-size: 20px;
}

.publicitate
{
    background-color: rgb(241, 175, 180);
    padding: 5px;
    justify-content: center;
}

.anunt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: wavy;
}

.headermain {
    display:flex;
    background: rgb(5, 94, 94);
}

.part {
    flex: 25%;
    padding: 60px;

}

a:hover {
    color:red;
}

.logo 
{
    width: 80px;
    height: 80px;
    padding: 20px;
}

form {
    flex: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .top, .header, .navbar, .left, .right, .footer, .form, .title,.headermain, .art, .publicitate, .anunt,.part, .anunt, form
    {
        width: 100%;
        flex-wrap: wrap;
    }
    .part, .form,.publicitate {
        display: flex;
    }
    .main {
        display: flex;
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    .headermain {
        display: flex;
        flex-direction: column;
    }
    .logo {
        display: flex;
        padding: auto;
        flex-wrap: wrap;
        width: auto;
    }
    
    
    
}